#window {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding-top: 5px;
  width: 100%;
}

.container {
  display: inline;
}

#keys {
  display: inline-grid;
  row-gap: 1px;
  grid-template-columns: 80px;
  background: grey;
  vertical-align: top;
}

#vert-scroller {
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid grey;
}

#scroller {
  overflow-x: scroll;
  overflow-y: scroll;
  border: 1px solid grey;
}

::-webkit-scrollbar {
    display: none;
}

#roll {
  position: relative;
}

#marker{
  border-left: 1px solid rgb(201, 145, 233);
  position: absolute;
}

.ui-bar {
  display: block;
  height:22px;
  width 100%;
}

.ui {
  margin-right: 1px;
  margin-left: 1px;
  background-color: rgb(098, 096, 200);
  border: 1px solid rgb(098, 096, 200);
  border-radius: 5px;
  height: 20px;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  color: white;
  transition: all 0.4s;
}
.ui:hover {
  background-color: white;
  border-radius: 6px;
  height: 22px;
  font-size: 16px;
  color: rgb(098, 096, 200);
}
.ui:disabled {
  background-color: white;
  border-radius: 5px;
  height: 20px;
  font-size: 14px;
  color: rgb(098, 096, 200);
}

.r {
  float: right;
}
.l {
  float: left;
}

#expand {
  position: absolute;
}

label {
  font-family: Arial;
  font-size: 14px;
  color: grey;
  margin-top: 2px;
  margin-left: 1px;
  margin-right: 1px;
  padding-top: 4px;
}

.measure {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1px 1px;
  background: grey;
  padding-right: 1px;
  z-index: -1;
}

.wht {
  background: white;
  text-align: right;
  font-family: Arial;
  font-size: 7px;
  color: grey;
}

.blk {
  background: rgb(65, 65, 80);
}

.key {
  height: 15px;
  border-radius: 1px;
}

.note {
  position: absolute;
  background-color: rgb(153, 152, 229);
  border: 1px solid rgb(098, 096, 200);
  border-radius: 3px;
}
.note:hover {
  background-color: rgb(194, 194, 238);
  border: 1px solid rgb(098, 096, 200);
}
.note:active {
  background-color: rgb(098, 096, 200);
  border: 1px solid rgb(098, 096, 200);
}

#time-bar {
  border: 1px solid grey;
  display: block;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 5px;
  position: relative;
}

#spacer {
  height: 100%;
  position: absolute;
}

#seeker {
  height: 100%;
  background-color: rgb(201, 145, 233);
  border: none;
  position: absolute;
}
