#left {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}
#left>* {
  float: left;
}
#track-bar {
  height: 25px;
  width: 33%;
  display: inline-flex;
  vertical-align: top;
  justify-content: center;
}
#right {
  width: 33%;
  display: inline;
  vertical-align: top;
}
#right>* {
  float: right;
}
#track-options {
  border: 1px solid grey;
  background: white;
  position: absolute;
  z-index: 100;
}
.visible {
  display: block;
}
.invisible {
  display: none;
}

.track {
  color:rgb(098, 096, 200);
  font-family: Arial;
  font-size: 14px;
}
.track:hover {
  background: rgb(098, 096, 200);
  color: white;
}

.new-track {
  color:rgb(098, 096, 200);
  font-family: Arial;
  font-size: 14px;
}
.new-track:hover {
  background: rgb(098, 096, 200);
  color: white;
}

#window {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding-top: 5px;
  width: 100%;
}

.container {
  display: inline;
}

#keys {
  display: inline-grid;
  row-gap: 1px;
  grid-template-columns: 80px;
  background: grey;
  vertical-align: top;
}

#vert-scroller {
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid grey;
}

#scroller {
  overflow-x: scroll;
  overflow-y: scroll;
  border: 1px solid grey;
}

::-webkit-scrollbar {
    display: none;
}

#roll {
  position: relative;
}

#marker{
  border-left: 1px solid rgb(185, 66, 210);
  position: absolute;
  z-index: 100;
}

.ui-bar {
  display: block;
  height: 25px;
  width 100%;
}

.ui {
  margin-right: 1px;
  margin-left: 1px;
  background-color: rgb(098, 096, 200);
  border: 1px solid rgb(098, 096, 200);
  border-radius: 5px;
  height: 25px;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  color: white;
  transition: all 0.4s;
}
.ui:hover {
  background-color: white;
  border-radius: 6px;
  height: 27px;
  font-size: 16px;
  color: rgb(098, 096, 200);
}
.ui:disabled {
  background-color: white;
  border-radius: 5px;
  height: 25px;
  font-size: 16px;
  color: rgb(098, 096, 200);
}

.r {
  float: right;
}
.l {
  float: left;
}

#expand {
  position: absolute;
}

label {
  font-family: Arial;
  font-size: 14px;
  color: grey;
  margin-top: 2px;
  margin-left: 1px;
  margin-right: 1px;
  padding-top: 4px;
}

.measure {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1px 1px;
  background: grey;
  padding-right: 1px;
  z-index: -1;
}

.wht {
  background: white;
  text-align: right;
  font-family: Arial;
  font-size: 7px;
  color: grey;
}

.blk {
  background: rgb(65, 65, 80);
}

.key {
  height: 22px;
  border-radius: 1px;
}

.note {
  position: absolute;
  background-color: rgb(153, 152, 229);
  border: 1px solid rgb(098, 096, 200);
  border-radius: 3px;
}
.note:hover {
  background-color: rgb(194, 194, 238);
  border: 1px solid rgb(098, 096, 200);
}
.note:active {
  background-color: rgb(098, 096, 200);
  border: 1px solid rgb(098, 096, 200);
}

#time-bar {
  border: 1px solid grey;
  display: block;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 5px;
  position: relative;
}

#spacer {
  height: 100%;
  position: absolute;
}

#seeker {
  height: 100%;
  background-color: rgb(185, 66, 210);
  border: none;
  position: absolute;
  z-index: 100;
}

#keyboard-container {
  position: fixed;
  bottom: 0;
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translate(-50%, 0);
}

body {
  background-color: white;
}