.container {
  display: grid;
  grid-template-areas:
    'piano scroll';
  width: 100%;
}
.wht {
  width: 100%;
  height: 10px;
  border-radius: 1px;
  background: white;
  text-align: right;
  font-family: Arial;
  font-size: 7px;
  color: grey;
}
.blk {
  width: 100%;
  height: 10px;
  border-radius: 2px;
  background: rgb(65, 65, 80);
}
.piano {
  display: inline-grid;
  grid-template-areas:
    'wht wht'
    'blk blk'
    'wht wht'
    'blk blk'
    'wht wht'
    'wht wht'
    'blk blk'
    'wht wht'
    'blk blk'
    'wht wht'
    'blk blk'
    'wht wht'

    'wht wht'
    'blk blk'
    'wht wht'
    'blk blk'
    'wht wht'
    'wht wht'
    'blk blk'
    'wht wht'
    'blk blk'
    'wht wht'
    'blk blk'
    'wht wht';
  background: grey;
  row-gap: 1px;
  height: 263px;
}
.keys {
  width: 40px;
  border: 1px solid grey;
}
.measure {
  position: absolute;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  background: grey;
  height: 263px;
  width: 128px;
  row-gap: 1px;
  padding-right: 1px;
}
#roll {
  height: 281px;
  width: 1000px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  border: 1px solid grey;
}
#scroll {
  position: relative;
  height: 263px;
  width: 1000px;
}
.ui {
  margin-top: 2px;
  margin-right: 1px;
  margin-left: 1px;
  background-color: rgb(098, 096, 200);
  border: 1px solid rgb(098, 096, 200);
  border-radius: 5px;
  height: 20px;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  color: white;
  transition: all 0.4s;
}
.ui:hover {
  background-color: white;
  border-radius: 6px;
  height: 22px;
  font-size: 16px;
  color: rgb(098, 096, 200);
}
.ui:disabled {
  background-color: white;
  border-radius: 5px;
  height: 20px;
  font-size: 14px;
  color: rgb(098, 096, 200);
}
.r {
  float: right;
}
.l {
  float: left;
}
#expand {
  height: 100%;
}
.note {
  position: absolute;
  background-color: rgb(153, 152, 229);
  border: 1px solid rgb(098, 096, 200);
  border-radius: 3px;
  height: 10px;
}
.note:hover {
  background-color: rgb(194, 194, 238);
  border: 1px solid rgb(098, 096, 200);
}
.note:active {
  background-color: rgb(098, 096, 200);
  border: 1px solid rgb(098, 096, 200);
}
